<!DOCTYPE html>
<html>
  <head>
    <title>SimpleChecklist</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  </head>

  <nav class="navbar navbar-default container">
    <div class="">
      <div class="navbar-header">
        <%= link_to 'checklist', root_path, class: "navbar-brand"%>
      </div>
      <% if user_signed_in? %>
          <%= link_to 'Add item', new_item_path, class: 'navbar-text navbar-link navbar-left' %>
      <%end%>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Sign-up', new_user_registration_path %></li>
        <% if current_user.present? %>
          <li><%= link_to 'logout', destroy_user_session_path, method: :delete %></li>
        <%else%>
          <li><%= link_to 'Login', new_user_session_path %></li>
        <%end%>
      </ul>
    </div>  
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <body class="container">
    <%= yield %>
  </body>
</html>
