<!DOCTYPE html>
<html>
  <head>
    <title>SimpleChecklist</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'checklist', root_path, class: "navbar-brand"%>
      </div>
      <% if user_signed_in? %>
          <%= link_to 'Add item', new_item_path, class: 'navbar-text navbar-link navbar-left' %>
      <%end%>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Sign-up', new_user_registration_path %></li>
        <% if current_user.present? %>
          <li><%= link_to 'logout', destroy_user_session_path, method: :delete %></li>
        <%else%>
          <li><%= link_to 'Login', new_user_session_path %></li>
        <%end%>
      </ul>
    </div>  
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <body>
    <%= yield %>
  </body>
</html>
